body {
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #41085e;
    background-color: blueviolet;
}

div {
    padding: 5px;
    margin-bottom: 10px;
    /* border: 2px green solid; */
}

h1 {
    font-size: 40px;
    margin-left: 80px;
    margin-bottom: 10px;
    margin-top: 15px;
    /* border: 2px green solid; */
}

textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    border: 2px solid #650096;
    margin: auto;
    border-radius: 0.5em;
    resize: none;
    /* box-shadow: #650096 0.3em 0.3em 0.3em  */
}

.div-principal {
    width: 400px;
    height: 90gh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5%;
    /* border: 2px green solid; */
}

#nomeCompleto,
#email,
#celular {
    height: 25px;
    width: 378px;
    border: 2px solid #650096;
    border-radius: 0.5em;
    box-shadow: #650096 0.3em 0.3em 0.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

#nomeCompleto:focus,
#email:focus,
#celular:focus,
#mensagem:focus {
    outline: none !important;
    background-color: #f1f0f3;
    /* border-color: blue; */
}

#div-email {
    /* border: 2px green solid; */
    margin-bottom: -7px;
}

#msgEmail {
    margin-left: 5px;
    color: red;
    /* border: 2px green solid; */
}

#msgArea {
    margin-left: 345px;
}

input[type="button"] {
    /*Padrão*/
    margin-left: 150px;
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid #41085e;
    border-radius: 20px;
    background-color: #650096;
    color: white;
    /* border: 2px solid green; */
}

input[type="button"]:hover {
    /*Com o cursor em cima*/
    border: 2px solid #41085e;
    background-color: white;
    color: #41085e;
}

input[type="button"]:active {
    /*No momento do clique*/
    border: 2px solid #41085e;
    background-color: #e3d9e9;
    color: #41085e;
}